@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
:root{
--dark_cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very_dark_blue: hsl(212, 21%, 14%);
--Dark_grayish_blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--very-dark-green: hsl(156, 42%, 18%)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--cream);
}
.card-container{
    width: 344px;
    height: 675px;
    border-radius: 12px;
    overflow: hidden;
    margin: 68px auto;
    background-color: var(--White);
}
.card-img-image{
    width: 100%;
}

.perfume{
    text-transform: uppercase;
    color: var(--Dark_grayish_blue);
    font-size: 1em;
    margin: 18px 24px 8px 24px;
    letter-spacing: 3px;
}
.perfume-title{
    font-family: 'Fraunces', serif;
    margin: 0px 24px 16px 24px;
    font-weight: 700;
    font-size: 2.2em;
    color: var(--very_dark_blue);
    line-height: 34px;
}
.perfume-description{
    margin: 0px 24px 44px 24px;
    color: var(--Dark_grayish_blue);
    font-size: 1em;
    line-height: 25px;
}
.perfume-price{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0px 24px 16px 24px;
}
.price-big{
    font-family: 'Fraunces', serif;
    color: var(--dark_cyan);
    font-size: 2.3em;
    
}
.price-small{
    color: var(--Dark_grayish_blue);
    text-decoration: line-through;
}
button{
    width: 296px;
    height: 50px;
    background-color: var(--dark_cyan);
    color: var(--White);
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 700;
    margin: auto;
    display: block;
    border: none;
}
button:hover{
    background-color: var(--very-dark-green);
    cursor: pointer;
}
button img{
    margin-right: 12px;
}
@media (min-width: 620px){
    /* .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
    } */
    .card-container{
        width: 600px;
        height: 450px;
        margin: 175px auto 75px;
    }
    .card{
        display: flex;
    }
    .card-img{
        width: 300px;
    }
    .card-description{
        width: 300px;
    }
    .card-img-image{
        content: url(./images/image-product-desktop.jpg);
    }
 
    .perfume{
        margin: 32px 24px 16px 24px;
    }
    .perfume-description{
        margin-bottom: 24px;
        line-height: 24px;
    }
    .perfume-price{
        margin-bottom: 26px;
    }
    button{
        width: 240px;
    }
} 